body {
  font-family: Arial, sans-serif;
  place-items: center;
}

h1 {
  font-size: 3.2em;
}

pre {
  line-height: 1em;
  margin: 3em;

  transform-origin: top center;
  transform: scaleY(1.2);
}

input {
  font-size: 1.5em;
}
